<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4">Weather App</h1>
    <form th:action="@{/weather}" method="get">
        <div class="mb-3">
            <input type="text" class="form-control" id="city" name="city" placeholder="Nhập tên thành phố">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    <div th:if="${weatherDetail}" class="mt-4">
        <p th:text="'Thành phố: ' + ${weatherDetail.name}"></p>
        <p th:text="'Nhiệt độ: ' + ${weatherDetail.main.temp + '°C'}"></p>
        <p th:text="'Độ ẩm: ' + ${weatherDetail.main.humidity + '%'}"></p>
        <p th:text="'Gió: ' + ${weatherDetail.wind.speed + ' m/s'}"></p>
        <p th:text="'Mây: ' + ${weatherDetail.clouds.all + '%'}"></p>
        <p th:text="'Chi tiết: ' + ${weatherDetail.weather[0].description}"></p>
        <img th:src="@{'http://openweathermap.org/img/w/' + ${weatherDetail.weather[0].icon} + '.png'}" alt="Weather Icon" />
    </div>
</div>
</body>
</html>
